{# This is a template fragment called in borrowing_message_app.html.twig #}

{% for message in messages %}
	<div class="p-2 m-1 {% if message.author == app.user %}bg-beige align-self-end{% else %}bg-gris align-self-start{% endif %}" style="width: max-content; max-width: 70%;">
		<p class="font-weight-bold">{{message.author.username|title}} :</p> 
		<p>{{message.content|nl2br}}</p>
		<small class="text-muted font-italic" style ="font-size: 0.8rem;">Le {{ message.createdAt|date('d/m/Y à H:i:s') }}</small>
	</div>	
{% endfor %}